<div class="wrapper">
  <div class="arrows">
    <button (click)="substractCount()" [disabled]="i < 0">
      <img src="../../../assets/leftarrow.svg" />
    </button>
    <button (click)="addCount()" [disabled]="i > projects.length - 1">
      <img src="../../../assets/rightarrow.svg" />
    </button>
  </div>
  <div class="card">
    <!-- Left Section: Description and Technologies -->
    <div class="left-section">
      <h2>{{ projects[i].name }}</h2>
      <div [innerHTML]="projects[i].description" class="description"></div>
      <!-- Render HTML description -->
      <div class="technologies">
        <strong>Technologies Used:</strong>
        <p>{{ projects[i].technologies }}</p>
      </div>
    </div>

    <!-- Right Section: Image -->
    <div class="right-section">
      <img [src]="projects[i].imageURL" alt="{{ projects[i].name }}" />
      <a
        [href]="projects[i].link"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
        >{{ projects[i].link }}</a
      >
    </div>
  </div>
</div>
